PORT=5000
MONGO_URI=mongodb://prasad125235_db_user:b7EbwvulAfAH30Rs@ac-twgueqa-shard-00-00.mogzwru.mongodb.net:27017,ac-twgueqa-shard-00-01.mogzwru.mongodb.net:27017,ac-twgueqa-shard-00-02.mogzwru.mongodb.net:27017/?ssl=true&replicaSet=atlas-z04bb0-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=ej6A2ez3ev8RmwOB0yEcwsEvSmyL2Fmy70z8inEqdwN
NODE_ENV=development
USER_NAME = prasad125235_db_user
PASSWORD = b7EbwvulAfAH30Rs